<div class="max-w-xl p-5 bg-blue-800 rounded-xl">
  <div class="bg-blue-100 rounded-md">
    <div class="flex justify-center pt-1 pb-1">
      <h1 class="text-2xl font-bold font-raleway">Notepad</h1>
    </div>
    <form (ngSubmit)="sendNote()" #myForm="ngForm">
      <textarea
        [(ngModel)]="note"
        name="text"
        #.note="ngModel"
        class="flex w-full px-5 bg-blue-100 font-raleway outline-0"
        rows="20"
      >
      </textarea>
      <div class="flex justify-center pt-2 pb-5">
        <button
          type="submit"
          (ngSubmit)="sendNote()"
          class="px-10 py-2 text-sm font-bold text-white bg-blue-800 rounded-md font-raleway"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
